@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom CSS */
.ant-carousel .slick-dots{
    margin-left: 0% !important;

}


ol, ul, dl{
    margin-bottom: 0em !important;
}
.slick-prev {
    left: -53px !important;
    top: 47% !important
}
.slick-next {
    top: 47% !important
}

